<ng-container *ngIf="(state$ | async) as state">

  <div
    id="pageContainer"
    cdkDropList
    (cdkDropListDropped)="reorderTodoUsecase.execute($event.previousIndex, $event.currentIndex)"
  >
    <div id="header">
      <h2>Todo List</h2>

      <div
        class="button-and-loading-container"
        [class.is-loading]="state.loading"
      >
        <button
          (click)="createTodoUsecase.execute()"
          [disabled]="state.loading"
        >
          <i class="fas fa-plus"></i>

          New
        </button>

        <mat-spinner
          *ngIf="state.loading"
          [diameter]="30"
          [strokeWidth]="4"
        ></mat-spinner>
      </div>
    </div>

    <app-todo-item
      *ngFor="let todo of state.data; trackBy: trackByFn"
      [todo]="todo"
      (updated)="updateTodoUsecase.execute($event)"
      (deleted)="deleteTodoUsecase.execute($event)"
      cdkDrag
    ></app-todo-item>

    <div
      id="noTodos"
      *ngIf="!state.loading && !state.error && (!state.data || state.data.length === 0)"
    >
      No todos found.
    </div>

  </div>
</ng-container>